header {
    .Blue-sphere {
        position: absolute;
        width: 326px;
        height: 326px;
        border-radius: 200px;
        background-color: rgba(0, 50, 160, 0.6);
        box-shadow: 0 0 100px 50px rgba(0, 50, 160, 0.7);
        left: 100px;
    }
}

.LogoHeader {
    z-index: 2;
}