@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

body, html { 
    background-color: black;
    margin: 0px;
    padding: 0px;
}

* {
    color:white;
    font-family: "Space Grotesk", sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: "Orbitron", sans-serif;

}


input {
    background-color: #393939;
    border: none;
    padding: 17px 47px;
    border-radius: 30px;

}

*:focus {
    outline: none;
}

main { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

button {
 background-color: #0032A0;
 color:white;
 padding: 10px 20px;
 border: none;
}